force-app/main/default/flows/Application_Record_Triggered_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Salesforce_Agent</name>
        <label>Call Salesforce Agent</label>
        <locationX>415</locationX>
        <locationY>886</locationY>
        <actionName>Copilot_for_Salesforce</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!PromptForAgent}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Copilot_for_Salesforce</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CV_Analysis_and_Candidate_Job_Match_Prompt</name>
        <label>CV Analysis and Candidate Job Match Prompt</label>
        <locationX>772</locationX>
        <locationY>733</locationY>
        <actionName>CV_Analysis_and_Candidate_Job_Match_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Call_Salesforce_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Content</name>
            <value>
                <elementReference>Get_Content_Document</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Application</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CV_Analysis_and_Candidate_Job_Match_Prompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Jop_Match_Prompt</name>
        <label>Jop Match Prompt</label>
        <locationX>1214</locationX>
        <locationY>734</locationY>
        <actionName>CV_Analysis_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Candidate</name>
            <value>
                <elementReference>Get_Candidate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Content</name>
            <value>
                <elementReference>Get_Content_Document</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CV_Analysis_Prompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Application Record Triggered Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Record Triggered Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>602</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content_Document_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>437</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CV_Analysis_and_Candidate_Job_Match_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_the_Links</elementReference>
            </value>
        </filters>
        <filters>
            <field>FileType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>SNOTE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <sortField>FileType</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document_Links</name>
        <label>Get Content Document Links</label>
        <locationX>272</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_the_Links</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>915</locationX>
        <locationY>50</locationY>
        <object>Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Candidate</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>PromptForAgent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please update the Candidate record &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;(&lt;/span&gt;{!$Record.Id}) with the relevant CV information found below:&lt;/p&gt;&lt;p&gt;CV {!CV_Analysis_and_Candidate_Job_Match_Prompt.promptResponse}&lt;/p&gt;&lt;p&gt;Job Match {!Jop_Match_Prompt.promptResponse}&lt;/p&gt;&lt;h1&gt;Use the &quot;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Capture Application Form Email Auto Launched Flow&lt;/strong&gt;&quot; action&lt;/h1&gt;</text>
    </textTemplates>
    <transforms>
        <name>Transform_the_Links</name>
        <label>Transform the Links</label>
        <locationX>47</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_Content_Document</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Content_Document_Links[$EachItem].ContentDocumentId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Prompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
