force-app/main/default/flows/Call_Agentforce_Agent_Auto_Launched_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Agentforce</name>
        <label>Call Agentforce</label>
        <locationX>826</locationX>
        <locationY>391</locationY>
        <actionName>Copilot_for_Salesforce</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!PromptforAgent}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Copilot_for_Salesforce</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CV_Analysis_Prompt</name>
        <label>CV Analysis Prompt</label>
        <locationX>1002</locationX>
        <locationY>264</locationY>
        <actionName>CV_Analysis_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Call_Agentforce</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Candidate</name>
            <value>
                <elementReference>CandidateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Content</name>
            <value>
                <elementReference>ContentDocId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CV_Analysis_Prompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Call Agentforce Agent Auto Launched Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Call Agentforce Agent Auto Launched Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CV_Analysis_Prompt</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>PromptforAgent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please update the Candidate record &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;({!CandidateId.Id}&lt;/span&gt;) with the relevant CV information found below:&lt;/p&gt;&lt;p&gt;{!CV_Analysis_Prompt.promptResponse}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CandidateId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>ContentDocId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
