force-app/main/default/flows/Match_Candidate_To_Job_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Salesforce_Agent</name>
        <label>Call Salesforce Agent</label>
        <locationX>761</locationX>
        <locationY>927</locationY>
        <actionName>Copilot_for_Salesforce</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>{!PromptForAgent}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Copilot_for_Salesforce</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CV_Analysis_and_Candidate_Job_Match_Prompt</name>
        <label>CV Analysis and Candidate Job Match Prompt</label>
        <locationX>1141</locationX>
        <locationY>910</locationY>
        <actionName>CV_Analysis_and_Candidate_Job_Match_Prompt</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Call_Salesforce_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Application</name>
            <value>
                <elementReference>Get_Application</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Content</name>
            <value>
                <elementReference>Get_Content</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CV_Analysis_and_Candidate_Job_Match_Prompt</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CV_Analysis_from_Application_Prompt</name>
        <label>CV Analysis from Application Prompt</label>
        <locationX>878</locationX>
        <locationY>592</locationY>
        <actionName>CV_Analysis_from_Application</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>CV_Analysis_and_Candidate_Job_Match_Prompt</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Application</name>
            <value>
                <elementReference>Get_Application</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Doc</name>
            <value>
                <elementReference>Get_Content</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CV_Analysis_from_Application</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>This Screen Flow is for the Manual Job Application creation process</description>
    <environments>Default</environments>
    <interviewLabel>Match Candidate To Job Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Candidate To Job Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>667</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>537</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Upload_CV_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Candidate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content</name>
        <label>Get Content</label>
        <locationX>444</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CV_Analysis_from_Application_Prompt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Link.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Link</name>
        <label>Get Link</label>
        <locationX>387</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Upload_CV_Screen</name>
        <label>Upload CV Screen</label>
        <locationX>280</locationX>
        <locationY>122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Match!</backButtonLabel>
        <connector>
            <targetReference>Get_Link</targetReference>
        </connector>
        <fields>
            <name>UploadCV</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload the Candidate&apos;s latest CV</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Application.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>915</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PromptForAgent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Please update the Candidate and Application record record &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;(&lt;/span&gt;{!Get_Candidate.Id}) with the relevant CV information found below:&lt;/p&gt;&lt;p&gt;CV {!CV_Analysis_and_Candidate_Job_Match_Prompt.promptResponse}&lt;/p&gt;&lt;p&gt;Job Match {!CV_Analysis_from_Application_Prompt.promptResponse}&lt;/p&gt;&lt;h1&gt;Use the &quot;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(24, 24, 24);&quot;&gt;Candidate CV Update&lt;/span&gt;&quot; action&lt;/h1&gt;</text>
    </textTemplates>
    <variables>
        <name>Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ContentDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>Prompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
